/.idea
/build
/dist
/hodor.egg-info
/chandlersong
.ipynb_checkpoints
__pycache__
/greenseer.egg-info
/logs/greenseer.log
greenseer/config.properties
/greenseer/config.properties
/jupyter/reportData/
/jupyter/greenseer.log
jupyter/greenseer.log
reportData/
/demo/allReportsData/
/demo/reportData/
/draft/
